<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>
<h2 th:if="${name !=null}" th:text="${'Hello ' + name}"></h2>
<h2 th:if="${power >= 0 && power <=20000}" th:text="${'C Class'}"></h2>
<h2 th:if="${power > 20000 && power <=100000}" th:text="${'B Class ' + power}"></h2>
<h2 th:if="${power > 100000}" th:text="${'A Class ' + power}"></h2>
</body>
</html>